<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertData</servlet-name>
        <servlet-class>InsertData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>InsertData2.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertData2</servlet-name>
        <servlet-class>InsertData2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginVer</servlet-name>
        <servlet-class>LoginVer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewRegister</servlet-name>
        <servlet-class>NewRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passwordUpdate</servlet-name>
        <servlet-class>passwordUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>news</servlet-name>
        <servlet-class>news</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsProcess</servlet-name>
        <servlet-class>newsProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAdmin</servlet-name>
        <servlet-class>addAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminPassC</servlet-name>
        <servlet-class>adminPassC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminVer</servlet-name>
        <servlet-class>adminVer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompAction</servlet-name>
        <servlet-class>CompAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertData</servlet-name>
        <url-pattern>/InsertData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertData2</servlet-name>
        <url-pattern>/InsertData2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginVer</servlet-name>
        <url-pattern>/LoginVer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewRegister</servlet-name>
        <url-pattern>/NewRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passwordUpdate</servlet-name>
        <url-pattern>/passwordUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>news</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsProcess</servlet-name>
        <url-pattern>/newsProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAdmin</servlet-name>
        <url-pattern>/addAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminPassC</servlet-name>
        <url-pattern>/adminPassC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminVer</servlet-name>
        <url-pattern>/adminVer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompAction</servlet-name>
        <url-pattern>/CompAction</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
